.main-logo {
  margin-top: 100px;
  width: 850px;
  min-width: 350px;
}

#live-counter {
  width: 1000px;
}
.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/about3.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.paper {
  background: #fff;
  box-shadow: 0 10px 6px -6px #777;
  padding: 30px;
}